{{- 'cta-customer-support.css' | asset_url | stylesheet_tag -}}

<div class="cta-customer-support container site-padding">
  <div class="inner">
      {% render 'icon-phone' %}
      <h3>Need more help?</h3>
      <p>Speak with one of our advisers on</p>
      <a href="tel:03332228584">
        0333 222 8584
      </a>
  </div>
</div>
