<div class="c-help-cta {{ background }} {{ colour }} py-6 py-md-8">
    <div class="container site-padding text-center">
        <p class="mb-0 text-24 text-md-30 text-white d-flex flex-column flex-sm-row justify-content-center align-items-center">Need Help? <span class="ml-sm-2">Call us on <a href="tel:03702184615" aria-label="Call 0370 218 4615" class=""><span class="rTapNumber413992">0370 218 4615</span></a></span></p>
    </div>
</div>