{% comment %}
    The Customers - Reset Password template.
{% endcomment %}

<section aria-labelledby="page-title">
    <header>
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-12">
                    <h1 class="mb-0" id="page-title">Reset Password</h1>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 mb-4 mb-md-0">
                {%- if page.content != blank -%}
                    <div class="c-rte">
                        {{- page.content -}}
                    </div>
                {%- endif -%}

                {%- form 'reset_customer_password', class: 'c-form', id: 'reset-password-form', aria-label: 'Reset Password form' -%}
                    <div class="c-form__content">
                        {{- form.errors | default_errors | replace: 'class="errors"', 'class="c-alert c-alert--error" role="alert"' -}}

                        <div class="c-form-field mb-4">
                            <label class="c-label" for="password">Password</label>
                            <input class="c-form-input{% if show_errors == true and form.errors contains 'password' %} c-input--error{% endif %}" id="password" name="customer[password]" type="password" />
                        </div>

                        <div class="c-form-field mb-4">
                            <label class="c-label" for="password-confirm">Password Confirmation</label>
                            <input class="c-form-input{% if show_errors == true and form.errors contains 'password_confirmation' %} c-input--error{% endif %}" id="password-confirm" name="customer[password_confirmation]" type="password" />
                        </div>

                        <button class="c-btn" type="submit">Reset Password</button>
                    </div>
                {%- endform -%}
            </div>
        </div>
    </div>
</section>