{% comment %}
    The Static Featured Links section template.
{% endcomment %}

{%- liquid
    assign blocks_featured_links = section.blocks | where: 'type', 'featured_link'
-%}
{%- if blocks_featured_links.size > 0 -%}
    <section class="py-10 pb-xl-0" data-section-type="static-featured-links" data-section-id="{{ section.id }}">
        <div class="container site-padding">
            <div class="row align-items-stretch mx-n2 mb-n4">
                {%- for block_featured_link in blocks_featured_links -%}
                    {%- if
                            block_featured_link and
                            block_featured_link.settings.url and
                            block_featured_link.settings.title and
                            block_featured_link.settings.icon
                    -%}
                        <div class="col-12 col-md-6 col-xl-3 mb-4 px-2" data-block-id="{{ block.id }}" data-block-type="{{ block.type | handleize }}" {{ block.shopify_attributes }}>
                            {%-
                                render 'blocklink',
                                href: block_featured_link.settings.url,
                                icon: block_featured_link.settings.icon,
                                text: block_featured_link.settings.title
                            -%}
                        </div>
                    {%- endif -%}
                {%- endfor -%}
            </div>
        </div>
    </section>
{%- endif -%}

{% schema %}
{
    "name": "Featured Links",
    "settings": [],
    "blocks": [
        {
            "type": "featured_link",
            "name": "Featured Link",
            "limit": 4,
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Text"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "Featured link"
                },
                {
                    "type": "select",
                    "id": "icon",
                    "options": [
                    { "value": "advice", "label": "Advice"}, 
                    { "value": "arrow-down", "label": "Arrow Down"}, 
                    { "value": "arrow-left", "label": "Arrow Left"}, 
                    { "value": "arrow-right", "label": "Arrow Right"}, 
                    { "value": "arrow-up", "label": "Arrow Up"}, 
                    { "value": "bars", "label": "Bars"}, 
                    { "value": "bed", "label": "Bed"}, 
                    { "value": "bespoke-service", "label": "Bespoke Service"}, 
                    { "value": "brochure2", "label": "Brochure2"}, 
                    { "value": "brush-square", "label": "Brush Square"}, 
                    { "value": "caret-down", "label": "Caret Down"}, 
                    { "value": "caret-left", "label": "Caret Left"}, 
                    { "value": "caret-right", "label": "Caret Right"}, 
                    { "value": "caret-up", "label": "Caret Up"}, 
                    { "value": "check-circle", "label": "Check Circle"}, 
                    { "value": "check", "label": "Check"}, 
                    { "value": "chevron-down", "label": "Chevron Down"}, 
                    { "value": "chevron-left", "label": "Chevron Left"}, 
                    { "value": "chevron-right", "label": "Chevron Right"}, 
                    { "value": "chevron-up", "label": "Chevron Up"}, 
                    { "value": "circulation", "label": "Circulation"}, 
                    { "value": "close", "label": "Close"}, 
                    { "value": "comfort", "label": "Comfort"}, 
                    { "value": "customisable", "label": "Customisable"}, 
                    { "value": "delivery-lg", "label": "Delivery Lg"}, 
                    { "value": "delivery-pallet", "label": "Delivery Pallet"}, 
                    { "value": "delivery-time", "label": "Delivery Time"}, 
                    { "value": "delivery", "label": "Delivery"}, 
                    { "value": "delivery2", "label": "Delivery2"}, 
                    { "value": "discover", "label": "Discover"}, 
                    { "value": "documents", "label": "Documents"}, 
                    { "value": "documents2", "label": "Documents2"}, 
                    { "value": "double-quote", "label": "Double Quote"}, 
                    { "value": "facebook-f", "label": "Facebook F"}, 
                    { "value": "finance", "label": "Finance"}, 
                    { "value": "finance2", "label": "Finance2"}, 
                    { "value": "headboards", "label": "Headboards"}, 
                    { "value": "headset", "label": "Headset"}, 
                    { "value": "heart-hands-lg", "label": "Heart Hands Lg"}, 
                    { "value": "heart-outline", "label": "Heart Outline"}, 
                    { "value": "light-bulb", "label": "Light Bulb"}, 
                    { "value": "linkedin-in", "label": "Linkedin In"}, 
                    { "value": "maintenance", "label": "Maintenance"}, 
                    { "value": "minus", "label": "Minus"}, 
                    { "value": "padded-mattress-platform", "label": "Padded Mattress Platform"}, 
                    { "value": "parts", "label": "Parts"}, 
                    { "value": "play-circle", "label": "Play Circle"}, 
                    { "value": "plus", "label": "Plus"}, 
                    { "value": "posture", "label": "Posture"}, 
                    { "value": "recycle-lg", "label": "Recycle Lg"}, 
                    { "value": "sales", "label": "Sales"}, 
                    { "value": "search", "label": "Search"}, 
                    { "value": "secure-checkout", "label": "Secure Checkout"}, 
                    { "value": "shopping-bag", "label": "Shopping Bag"}, 
                    { "value": "sleep-in-bed", "label": "Sleep In Bed"}, 
                    { "value": "star-fill", "label": "Star Fill"}, 
                    { "value": "star-outline", "label": "Star Outline"}, 
                    { "value": "trustpilot-primary-dark", "label": "Trustpilot Primary Dark"}, 
                    { "value": "twitter", "label": "Twitter"}, 
                    { "value": "uk-map", "label": "Uk Map"}, 
                    { "value": "union-jack", "label": "Union Jack"}, 
                    { "value": "user-check", "label": "User Check"}, 
                    { "value": "user", "label": "User"}, 
                    { "value": "warranty", "label": "Warranty"}, 
                    { "value": "widths", "label": "Widths"}, 
                    { "value": "wireless", "label": "Wireless"}
                    ],
                    "label": "Icon"
                 }
            ]
        }
    ]
}
{% endschema %}