{% comment %}
    The Trustpilot section template.
{% endcomment %}
{%- if section.settings.embed.size > 0 -%}
    <section class="my-14 my-lg-16" data-section-type="trustpilot" data-section-id="{{ section.id }}">
        <div class="container site-padding">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    {%- if section.settings.embed != blank -%}
                            {{- section.settings.embed | safe -}}
                    {%- endif -%}
                </div>
            </div>
        </div>
    </section>
{%- endif -%}

{% schema %}
{
    "name": "Trustpilot Reviews",
    "settings": [
        {
            "type": "html",
            "id": "embed",
            "label": "Embed"
        }
    ],
    "blocks": [],
    "presets": [
        {
            "name": "Trustpilot Reviews",
            "category": "Homepage",
            "settings": {},
            "blocks": []
        }
    ]
}
{% endschema %}
