{% comment %}
    The 404 template.
{% endcomment %}

<div class="container site-padding py-5">
    <div class="row">
        <div class="col-12 mb-3">
            {%- include 'breadcrumb' -%}
        </div>
        <div class="col-12">
            <h1 class="mb-3">{{- 'template.404.title' | t -}}</h1>
            <p class="mb-0">{{- 'template.404.description_html' | t: url: shop.url -}}</p>
        </div>
    </div>
</div>