{% comment %}
    The Showroom Page template.
{% endcomment %}
{%- section 'page-showroom-header' -%}
{%- section 'page-collections-with-text' -%}
{%- section 'page-showroom' -%}

<div class="mb-n10">
    {%- section 'trustpilot' -%}
</div>